<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44231510209-pq9jo9cdeivrrgm1jfve7d6tucdlc25h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44231510209-pq9jo9cdeivrrgm1jfve7d6tucdlc25h</string>
	<key>API_KEY</key>
	<string>AIzaSyCt7lmCrGGis-6cHledJxhqUETR0Zax77Y</string>
	<key>GCM_SENDER_ID</key>
	<string>44231510209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Anthony.DeliveryService</string>
	<key>PROJECT_ID</key>
	<string>deliveryservice-46e51</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryservice-46e51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44231510209:ios:90963b040b2b54b659ec40</string>
</dict>
</plist>